<IfModule mod_rewrite.c>
<IfModule mod_env.c>
SetEnv HTTP_MOD_REWRITE On
</IfModule>

RewriteEngine On
RewriteRule . - [E=REWRITEBASE:/example/]
RewriteRule appevent/(.*) %{ENV:REWRITEBASE}component_app_event.php [L]

</IfModule>
